html {
  font-size: 10px; }

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 400; }

a {
  color: #fff;
  text-decoration: none; }

.btn {
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #2db8b7;
  text-align: center;
  cursor: pointer; }
  .btn-primary {
    width: 100%;
    padding: 14px 0;
    margin-bottom: 20.5px;
    -webkit-border-radius: 1rem;
            border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 700; }
    .btn-primary:hover {
      font-weight: 400;
      background-color: transparent;
      outline: 1px solid #2db8b7;
      color: #2db8b7; }
  .btn-info {
    background-color: #2db8b7;
    background-image: url("../img/bg-btn-info.svg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    height: 90px;
    width: 90px; }
  .btn-open-img {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    background-image: url("../img/open-image.svg"); }
    .btn-open-img:hover {
      cursor: pointer;
      width: 75px;
      height: 75px; }

.box-info {
  z-index: 999;
  opacity: 0;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  position: fixed;
  right: 0;
  top: 90px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  width: 283px;
  height: 130px;
  font-weight: 300;
  font-size: 16px;
  padding-top: 10px; }
  .box-info p {
    padding-left: 31px;
    margin-bottom: 17px; }
  .box-info i {
    margin-right: 15px;
    font-size: 18px; }
  .box-info a:hover {
    text-decoration: underline; }

.sidebar {
  padding-bottom: 32px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 417px;
  font-size: 1.4rem;
  background-color: #242b2e;
  -webkit-box-shadow: 0 0 50px #000;
          box-shadow: 0 0 50px #000;
  z-index: 999;
  color: #fff; }
  .sidebar .top {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 47.7px 73px 0 73px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .sidebar .face {
    width: 153px;
    border: 4px solid #2db8b7;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-bottom: 30px; }
  .sidebar h1, .sidebar h3 {
    font-size: 2rem;
    margin: 0; }
  .sidebar h3 {
    font-weight: 300;
    line-height: 2.4rem; }
  .sidebar p {
    margin: 20px 0 36px 0;
    line-height: 1.68rem;
    font-size: 1.4rem; }
  .sidebar p:last-child {
    color: #6b7072;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 14px; }
  .sidebar-btnhide {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.41);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.41;
    height: 54px;
    width: 100%; }
    .sidebar-btnhide img {
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      height: 60%;
      margin-right: 20px; }
    .sidebar-btnhide:hover {
      opacity: 1;
      cursor: pointer; }
    .sidebar-btnhide:hover img {
      margin-right: 25px; }
    .sidebar-btnhide-new {
      display: none;
      position: fixed;
      bottom: 32px;
      left: 0;
      width: 97px;
      z-index: 999;
      opacity: 0.7;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
      .sidebar-btnhide-new:hover img {
        margin-left: 15px; }
  .sidebar-social {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .sidebar .fab {
    text-align: center;
    padding-top: 10px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 3.6rem;
    height: 2.6rem;
    margin-right: 0.5rem; }
    .sidebar .fab:hover {
      background-color: #000; }

.content-filter {
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 9rem;
  padding-left: 45px; }
  .content-filter .mobile {
    display: none;
    width: 90px;
    margin-left: 10px;
    line-height: 90px;
    text-align: center;
    background-color: #2db8b7;
    color: #fff;
    font-size: 30px; }
  .content-filter .left {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .content-filter span {
    color: #2db8b7;
    font-weight: 300;
    font-size: 19px; }
  .content-filter img {
    margin-left: .5rem;
    width: 1.7rem;
    height: 1.5rem; }
  .content-filter ul {
    list-style: none;
    color: #9fa3a7;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-weight: 700;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .content-filter ul .active {
      color: #242424;
      border: 2px solid #2db8b7;
      -webkit-border-radius: 12px;
              border-radius: 12px;
      padding: .5rem; }
      .content-filter ul .active:hover {
        margin-left: 0;
        margin-right: 4rem; }
    .content-filter ul li {
      margin-right: 4rem;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .content-filter ul li:hover {
        -webkit-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
        margin-left: -0.7rem;
        margin-right: 3.3rem;
        cursor: pointer;
        border: 2px solid #2db8b7;
        -webkit-border-radius: 12px;
                border-radius: 12px;
        padding: .5rem;
        color: #242424; }

.portfolio {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  overflow: auto;
  height: -webkit-calc(100vh - 90px);
  height: calc(100vh - 90px);
  line-height: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .portfolio img {
    width: 100%; }
  .portfolio-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-flex-basis: -webkit-calc(400px);
        -ms-flex-preferred-size: calc(400px);
            flex-basis: calc(400px); }
    .portfolio-item:hover .portfolio-info {
      opacity: 0.9; }
  .portfolio-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #2db8b7;
    position: absolute;
    color: #fff;
    text-align: center; }
    .portfolio-info h3 {
      font-weight: 400;
      font-size: 30px; }
    .portfolio-info hr {
      border: 0.5px solid #fff;
      width: 45%;
      margin-top: 20px;
      margin-bottom: 14px; }

.popup {
  padding: 40px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  .popup img {
    height: 90vh; }
  .popup .fa-times {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    width: 80px;
    opacity: .4;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: -15px;
    right: -15px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 20px;
    color: #fff; }
    .popup .fa-times:hover {
      opacity: .9;
      cursor: pointer; }

@media (max-width: 1700px) {
  html {
    font-size: 9px; }
  .sidebar .top {
    padding: 0 4rem; } }

@media (max-width: 1040px) {
  .sidebar .top {
    padding: 0 4rem; } }

@media (max-width: 985px) {
  .content-filter {
    padding: 0; }
    .content-filter span {
      display: block;
      padding-left: 4rem; }
    .content-filter .mobile {
      display: block;
      cursor: pointer; }
    .content-filter ul {
      display: none;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
      .content-filter ul li {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        min-width: 33%;
        letter-spacing: .05rem; }
  .btn-info {
    display: none; } }

@media (max-width: 720px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .content {
    overflow: hidden;
    height: 100%; }
    .content-filter .mobile {
      display: block; }
    .content-filter ul {
      left: 0; }
  .sidebar {
    height: 100%; } }
